.innerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.innerContainer>div {
  flex: 1;
}

/* left side */

.project-image>img {
  border-radius: 9px;
  margin-bottom: 1rem;
  transition: all 300ms ease-in;
  border: 2px solid rgb(222, 222, 222);
}

/* right side */

.project-title {
  font-size: 1.3rem;
  color: rgb(72, 71, 71);
  font-weight: 600;
}

.project-details {
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.project-buttons {
  display: flex;
  gap: 1rem;

}

.stack {
  display: flex;
  gap: 1rem;
  color: black;
  font: 0.9rem;
  font-weight: 500;
}

.Heading {
  color: #0775f0;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}



.buttons-inside{
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: 1rem;
  font-weight: 500;
}


@media (max-width: 1023px) {
  .innerContainer{
    gap: 1rem;
  }
  .alignCenter {
    display: flex;
    justify-content: center;
  }

  .project-image>img:hover {
    scale: 1;
  }

  .innerContainer {
    flex-direction: column;
    padding: 0;
  }


}


@media (max-width: 768px) {

  .project-title{
    text-align: center;
  }

  .project-description{
    text-align: center;
  }

  .stack{
    display: flex;
    justify-content: center;
  }
  .project-buttons{
    justify-content: center;
  }
  .project-image>img {
    display: flex;

    align-items: center;
    width: 300px;
  }

  .alignCenter {
    display: flex;
    justify-content: center;
  }
}

@media (max-width:600px) {

  .project-buttons {
    justify-content: start;
  }
  .project-description{
    text-align: initial;
  }
  .stack{
    justify-content: start;
  }
  .project-title{
    text-align: initial;
  }
    .project-image>img {
      width: 330px;
    }
}

@media (max-width:330px) {
  .project-image>img{
    width: 290px;
  }
}